*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("https://character-customization.netlify.app/static/media/hip-square.22f03fab06033dc3aca1.png");
}